<div class="contents row">
  <div class="container">

    <h3 class="edit">編集または削除</h3>

    <%= form_with(model: [@topic,@content], local: true) do |c| %>
      
      <div class="contents">
        
        <div class="title-edit">
          <%= c.text_field :title,class:"send-form" %>
        </div>
        
        <div class="text-edit">
          <%= c.text_area :text, class:"send-form sends" , rows: "15" %>
        </div>
        
        <div class="text-edit"> 
          <%= c.file_field :image, class: "pic-btn" %>
        </div>

        <div class="send-bt">
          <%= c.submit "編集", class: "send-btn", id: "submit" %>
        </div>

          <%= link_to "削除", topic_content_path, method: :delete, class:"send-btn" %>
          
      </div>

    <% end %>

  </div>
</div>
