<div class="main-body">
  <% if user_signed_in? %>
    <!--検索窓-->
    <div class="form">
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-btn">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
    </div>

    <!--新着情報-->
    <div class="under-bar"></div>
    <div class="new-topics">
      <%= image_tag("desk2.png", class:"left-pic",id:"mypic",onclick:"slideshow()") %>
      <script>
        var pics_src = new Array("desk2.png","usagi2.png","usagi3.png","usagi4.png");
        var num = 0;

        function slideshow(){
            if (num == 3) {
                num = 0;
            }
            else {
                num ++;
            }
            document.getElementById("mypic").src=pics_src[num];
        }
      </script>
      
      <div class="new-topic">
        <h2 class="heading-name">新着情報</h2>

        <div class="messages">
          <% @content.each do |c| %>
           <div class="message-box">

              <div>
                <%= c.created_at.to_s(:datetime_jp) %>
              </div>

              <div class="message">
                <div>
                <%= link_to topic_contents_path(c.id),class:"t-title" do %>
                  <%= c.title  %>
                </div>
                <div> （ <%= c.topic.title_name %> ）</div>
                <% end %>
              </div>

           </div> 
          <% end %>

          </div>
      </div>

      <%= image_tag("logo5.jpg", class:"right-pic") %>
    </div>

    <!--TOPIC-->
    <div class="under-bar"></div>
    <div>
      <h1 class="topic-main", id="lists">HEADING</h1>
    </div>

    <!--TOPICリスト-->
    <div class="topic-lists">
      
      <ul class="topic-titles", id="list">

        <% @topics.each do |topic| %>

          <li class="topic-title">

            <div class="menu">
              <% if user_signed_in? && current_user.id == topic.user_id %>
                <%= link_to edit_topic_path(topic.id), class:"title-name" do %>
                  <%= topic.title_name %>
                  <ul class="dropdown__lists">

                    <% topic.contents.each do |c| %>
                      <%= link_to topic_contents_path(c.id), class:"content-link" do %>
                        <li class="dropdown__list">
                          <%= c.title %>
                        </li>
                      <% end %>
                    <% end %>

                    <li class="dropdown__content">
                      <%= link_to new_topic_content_path(topic.id), class:"content-plus" do %>
                      コンテンツの追加
                      <% end %>
                    </li>

                  </ul>
                <% end %>
              <% else %>
                <%= topic.title_name %>
              <% end %>

              <!-- <div class="pull"><%= image_tag('arrow1.png', class:"arrow-tag") %></div> -->
            </div> 

          </li>

        <% end %>

      </ul>

      <!--Createフォーム-->
      <div class="under-bar"></div>

      <div class="sends", id="send">
        <h3 class="send-message">新しいHEADINGの作成</h3>

            <%= form_with(model: @topic, local: true, id: "form") do |topic| %>

              <div class="error">
                <%= render 'shared/error_messages', model: topic.object %>
              </div>

              <div class="send-forms">
                <div>
                  <%= topic.text_field :title_name,class:"send-form", placeholder:'記入してください' %>
                </div>
              </div>

              <div class="send-btn-top">
                <div>
                  <%= topic.submit "作成", class: "send-btn", id: "submit" %>
                </div>
              </div>
              
            <% end %>
      </div>

    </div>
  
  <% else %>

    <%# 画面上部の帯部分 %>
    <div class='title-contents'>
      <h2 class='service-title'>
        よりシンプルに、よりわかりやすく
      </h2>
      <p class='service-explain'>
        Contact Noteは情報のストックをシンプルに行う
      </p>
      <p class='service-explain'>
        情報共有アプリケーションです
      </p>
    </div>

    <div class="title-unders">
      <div class="title-under">早速Contact Noteを始めましょう!</div>
    </div>
    <ul class="login-form">
      <li><%= link_to '新規登録', new_user_registration_path, class: "new-under" %></li>
      <p class="guid">既にアカウントをお持ちの方はこちらから</p>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login-under" %></li>
    </ul>
    
      <%# /画面上部の帯部分  %>


  <% end %>
</div>
