<div class="main-body">
  <!--検索窓-->
  <div class="kensaku">検索窓</div>

  <!--新着情報-->
  <div class="under-bar"></div>
  <div class="new-topics">
    <%= image_tag("logo5.jpg", class:"left-pic") %>
    
    <div class="new-topic">
      <h2 class="heading-name">新着情報</h2>

      <ul class="messages">

        <li class="message">
          <div class="message-date">2019/10/03</div>
          <div>【新規のお客様限定】<b>10％OFF</b>キャンペーン</div>
        </li>
        
        <li class="message">
          <div class="message-date">2019/10/03</div>
          <div>うれしい<b>ポイントアップキャンペーン</b></div>
        </li>

        <li class="message">
          <div class="message-date">2019/09/27</div>
          <div>2020年成人式 ご予約承ります</div>
        </li>

        <li class="message">
          <div class="message-date">2018/10/03</div>
          <div>うれしい<b>ポイントアップキャンペーン</b></div>
        </li>

        <li class="message">
          <div class="message-date">2018/09/27</div>
          <div>2019年成人式 ご予約承ります</div>
        </li>

      </ul>
    </div>

    <%= image_tag("logo5.jpg", class:"right-pic") %>
  </div>

  <!--TOPIC-->
  <div class="under-bar"></div>
  <div>
    <h1 class="topic-main">HEADING</h1>
  </div>

  <!--TOPICリスト-->
  <div class="topic-lists">
    
    <ul class="topic-titles">
      <% @topics.each do |topic| %>
        <li class="topic-title"><%= topic.title_name %>
          <span><%= image_tag('arrow1.png', class:"arrow-tag") %></span>
        </li>
      <% end %>
    </ul>

    <h3>投稿する</h3>
      <%= form_with(model: @topic, local: true) do |form| %>
        <%= form.text_field :title_name, placeholder: "HEADINGタイトル" %>
        <%= form.submit "SEND" %>
      <% end %>


    
  </div>


</div>
