<!DOCTYPE html>
<html>
  <head>
    <title>ContactNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">

      <div class="header-mains">

        <div class="header-main">
          <div class="logo">
            <%= link_to image_tag("logo10.jpg", class:"logo-icon"), "/" %>
          </div>
          <ul class="header-right">

            <% if user_signed_in? %>
              <li><%= link_to 'Chat', '#', class:"chat" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout" %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path, class: "logout" %></li>
              <li><%= link_to 'ログイン', new_user_session_path, class: "logout login" %></li>
            <% end %>

          </ul>

        </div>
      </div>

    </header>

    <%= yield %>

    <footer class="footer">
  
          <div class="footer-main">

            <div class="footer-logo">
              <%= link_to image_tag("logo10.jpg", class:"logo-icon"), "/" %>
            </div>

          </div>
        </div>
  
    </footer>

  </body>
</html>
